//Specify input directories for reads & reference sequence, name of reference sequence as well as output directory

conda.enabled = true

params {

    //Main parameters (see README)
    refseq = "/path/to/refseq.fa"
    chrlist = "/path/to/chr.list"
    bamlist = "/path/to/bams.list"
    outdir = "/path/to/outdir/"

    //Workflow paramters  
    //Specify whether additional plots with population information should be included
    inclPopPlots = true

    //Specify whether you are using mamba on top of conda
    UseMamba = true
}

profiles {

    //standard profile which will execute the workflow locally
    standard {
        process.executor = 'local'
        process.conda = './environment.yml'
    }

    //custom profile which in its current shape is written to run on Uppmax' Rackham cluster
    custom {
        includeConfig 'config/profile.config'
    }
    
}
