/*
 * -------------------------------------------------------------------------
 *  Nextflow config file for running nf-Hestu workflow on Uppmax' Rackham
 * -------------------------------------------------------------------------
 *   Use as follows:
 *   nextflow run main.nf -profile custom
 */

if (params.UseMamba == true) {
    conda.useMamba = true
    }


report {
    overwrite = true
}

params {
    config_profile_name = 'Uppmax rackham profile'
    config_profile_description = 'Profile that works with the rackham cluster on Uppmax'
    project = 'naiss20XX-XX-XXX'
    clusterOptions = null
    }
process {
    executor = 'slurm'
    clusterOptions = { "-A $params.project ${params.clusterOptions ?: ''}" }
    cpus = { 6 * task.attempt }
    memory = { 36.GB * task.attempt }
    time = { 8.h * task.attempt }
    conda = './environment.yml'

    errorStrategy = { task.exitStatus in [104, 134, 137, 139, 140, 143, 247] ? 'retry' : 'finish' }
    maxRetries = 2
    maxErrors = '-1'

    withLabel: 'Low_res' {
        cpus = { 1 * task.attempt }
        memory = { 2.GB * task.attempt }
        time = { 1.h * task.attempt }
    }
   
}
